
.container {
    display:flex;
    flex-direction: row;
}

.main-image {
    width: 30%;
}

.main-h1 {
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.description {
    color: purple;
    font-family: 'Cormorant Unicase', serif;
}

.text {
    background-color: aliceblue;
    padding: 30px;
    margin: 30px;
}

@media (max-width: 480px) {
    .main-image {
        width: 100%;
    }
    .container {
        flex-direction: column;
    }
}